* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 90%;
    max-width: 450px;
    padding: 50px 60px 70px;
    text-align: center;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.form-box h1 {
    font-size: 30px;
    margin-bottom: 40px; 
    color: #df15c4;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: blueviolet;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

/* Input field styling */
.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.input-field input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    max-height: 65px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    font-size: 13px;
    margin-top: 10px; 
}

form p a {
    text-decoration: none;
    color: #3c00a0;
}

.btn-field {
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-field button.disable {
    background-color: #eaeaea;
    color: #555;
    cursor: not-allowed; 
}
