
.container {
    padding: 20px;
    justify-content: center;
}

#searchForm {
    margin-bottom: 20px;
    justify-content: center;
}

#searchResults{
    width: 50%;
}

#searchInput{
    width: 50%;
}

#games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-card {
    position: relative;
    width: 180px;
    height: 265px;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3 ease;
}

#games img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3 ease, filter 0.3 ease;
}

.game-card:hover img{
    filter: blur(3px);
}

.game-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    opacity: 0;
    transition: opacity 0.3s ease;
    flex-direction: column; 
}

.game-cover-title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0; 
}

.see-details{
    cursor: pointer;
}

.game-card:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.game-card:hover .game-cover {
    opacity: 1;
    backdrop-filter: blur(10);
}

.nav-link{
    color: #df15c4;
}

